{% extends "layout.html" %}
{% block content %}
	<div class="jumbo">
		<h2>Welcome to the Jeff's Weather Homepage</h2>
		<h3>Checkout the 7-day forecast for {{ local }}</h3>
		<h3>Enter your zip to see your weathers:<form action="/", id="zip", method='POST'>
			<input type="text" name="usr_zip"><br>
			<input type="submit" value="submit">
		</form></h3>
		<table>
			<!-- file in table with day names -->
			<tr>
			{% for i in range(0,7) %}
				<th>{{ weather[i][0] }}</th>
			{% endfor %}
			</tr>
			<!-- fill in table with pics of weather -->
			<tr>
			{% for i in range(0,7) %}
				<td> <img width="100%" src="{{ weather[i][4] }}"</td>
			{% endfor %}
			</tr>
			<!-- fill in text description of weather -->
			<tr>
			{% for i in range(0,7) %}
				<td>Hi Temp is: {{ weather[i][1] }}.<br> 
					Low temp is: {{ weather[i][2] }}.<br> 
					Forecast: {{ weather[i][3] }}.</td>
			{% endfor %}
			</tr>
		</table>
	</div>
{% endblock %}