<!DOCTYPE html>
<html>
  <head>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
    <title>Flask App</title>    
  </head>
  <body>

  <header>
    <div class="container">
      <h1 class="logo">Jeff Weather</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('radar') }}">Radar</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
    </div>
  </header> 

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  </body>

  <footer>
    <div class="container">
        <p class="footer_name">Jeff Maxim</p>
        <p class="footer_email">Contact information: <a href="mailto:frey.maxim@gmail.com">
        frey.maxim@gmail.com</a></p>
    </div>
  </footer>
</html>